<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  
<div class="container">

    <div class="page-header text-center">
        <h1>Welcome To Your Diary <%= user.local.email %> . Your Secret Is Safe With Me .</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="leftbox">
          <h3>Journal Entries</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].name %></span>
              <span><%= messages[i].msg %></span>
            
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add To Your Diary</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="date" value="" name="name">

            <textarea rows = "5" cols = "30" name = "msg">
         </textarea>
            <!-- <input type="text" placeholder="message" name="msg"
            rows="4" cols="50"> -->
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>
        </div>

        


        <div class="col-sm-6">
          <div class="well">

            <button class="quoteButton">Words of encouragement</button>

                    <h2 class="showTheQuote"></h2>










              <!-- <h3><span class="fa fa-user"></span> Local</h3>

              <% if (user.local.email) { %>
                  <p>
                      <strong>id</strong>: <%= user._id %><br>
                      <strong>email</strong>: <%= user.local.email %><br>
                      <strong>password</strong>: <%= user.local.password %>
                  </p>

                  <a href="/unlink/local" class="btn btn-default">Unlink</a>
              <% } else { %>
                  <a href="/connect/local" class="btn btn-default">Connect Local</a>
              <% } %> --> 

          </div>
      </div>

  </div>

</div>

<script src="main.js"></script>

</body>
</html>
