<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/4c83b50b1e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  
<div class="container">

    <div class="page-header text-center">
        <h1>Welcome To Your Diary <%= user.local.email %> . Your Secret Is Safe With Me .</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    

    <div class="row">
        <div class="col-sm-6">
          <div class="leftbox">
          <h3>Journal Entries</h3>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Mood</th>
                <th>Entry</th>
                <th>Self Reflected</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<messages.length; i++) {%>
                <tr class="message">
                  <td><%= messages[i].name %></td>
                  <td><%= messages[i].mood %></td>
                  <td><%= messages[i].msg %></td>
                  <td><%= messages[i].check %></td>
                  <td><i class="fa-regular fa fa-square-check"></i></td>
                  <td><i class="fa-solid fa-dumpster"></i></td>
                </tr>
              <% } %>
            </tbody>
          </table>

          <h2>Add To Your Diary</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="date" value="" name="name" required>
            <select name="mood" id="" required>
              <option value="Happy">Happy</option>
              <option value="Sad">Sad</option>
              <option value="Tired">Tired</option>
              <option value="Stressed">Stressed</option>
              <option value="Angry">Angry</option>
              <option value="Escatic">Escatic</option>
              <option value="Hungry">Hungry</option>
            </select>

            <textarea rows = "5" cols = "30" name = "msg" required>
         </textarea>
            <!-- <input type="text" placeholder="message" name="msg"
            rows="4" cols="50"> -->
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>
        </div>

        


        <div class="col-sm-6">
          <div class="well">

            <button class="quoteButton">Words of encouragement</button>

                    <h2 class="showTheQuote"></h2>










              <!-- <h3><span class="fa fa-user"></span> Local</h3>

              <% if (user.local.email) { %>
                  <p>
                      <strong>id</strong>: <%= user._id %><br>
                      <strong>email</strong>: <%= user.local.email %><br>
                      <strong>password</strong>: <%= user.local.password %>
                  </p>

                  <a href="/unlink/local" class="btn btn-default">Unlink</a>
              <% } else { %>
                  <a href="/connect/local" class="btn btn-default">Connect Local</a>
              <% } %> --> 

          </div>
      </div>

  </div>

</div>

<script src="main.js"></script>

</body>
</html>
